body {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 將畫面分成兩個相等的區域 */
    gap: 20px; /* 添加一些間距 */
}

h1, h2 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="date"],
input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #000000;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

thead {
    background-color: #f2f2f2;
}

/* 表單和輸入框放置在左側 */
#inputContainer {
    grid-column: 1 / 2; /* 從第一列到第二列 */
}

/* 表格放置在右側 */
#tableContainer {
    max-height: 750px;  /* 調整高度以適應您的需求 */
    overflow-y: auto;   /* 啟用垂直滾動 */
    margin-left: 50%;   /* 調整表格容器的位置 */
    transform: translateX(-50%); /* 確保表格容器居中 */
}

#gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 兩列等寬 */
    width: 100%; /* 橫跨整個頁面 */
}

#banner {
    background-color: #ab9e23;
    text-align:left;
    grid-column: 1 / -1; /* 從第一列到最後一列 */
}